.login-container {
  display: flex; /* Apply Flexbox */
  flex-direction: column; /* Ensures content stacks vertically */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  height: 80vh; /* Make container take up the full height of the viewport */
  text-align: center; /* Centers inline content like text */
}

.title {
  padding-bottom: 20px;
}

.chess-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%; /* For a circular image */
}

.wrapper {
  width: 420px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: black;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.rember-forgot label input {
  accent-color: black;
  margin-right: 4px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rbga(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.register-link p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
